{% extends 'women/base.html' %}
{% load static %}

{% block head %}
    <link type="text/css" href="{% static 'women/css/reg_auth.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="login-box">
            <center>
            Авторизация пользователя
        </center>
        <div style="margin-top: 10px">    </div>
        <form method="post">
            {% csrf_token %}
            {% for f in form %}
                <div class="user-box">
                    {{ f }}
                    <label>{{ f.label }}</label>
                </div>
            {% endfor %}

            {% for f in form %}
                <div class="form-error">{{ f.errors }}</div>
            {% endfor %}

            <button type="submit">
                Отправить
                <span></span>
            </button>

        </form>
    </div>

{% endblock content %}
