{% extends 'women/base.html' %}
{% load static %}

{% block head %}
    <link type="text/css" href="{% static 'women/css/reg_auth.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    {% for f in form %}
        <div class="form-error">{{ f.errors }}</div>
    {% endfor %}

    <div class="container">
        <h3 style="text-align: center;">Регистрация</h3>
        <form method="post">
            {% csrf_token %}

            {% for f in form %}
                <div class="field_input">
                    <p>{{ f.label }}:</p>
                    <label class="form-label" for="{{ f.id_for_label }}">
                        {{ f }}
                    </label>
                </div>
            {% endfor %}
            <button type="submit" class="sumbit_registration">Регистрация</button>
        </form>
    </div>

{% endblock content %}
